*{
    padding: 0;
    margin: 0;
}

#principal{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/FondoRegistro2.jpg");
    text-align: center;
    position: absolute;
}

#tituloPrincipal{
    font-family: 'Permanent Marker';
    margin-bottom: 9%;
    text-align: center;
    margin-top: 5%;
    font-size: 70px;
}

.registro{
    text-align: center; 
    width: 25%;
    margin: 0 auto;
}

.inputInicio{
    margin-top: 10px;
    height: 40px;
    border-radius: 50px;
    width: 250px;
    text-align: center;
    border: solid .5px white;
    font-family: 'Segoe UI';
    font-size: 15px;
}

.iniciarSesion{
    font-family: 'Permanent Marker';
    font-size: 25px;
}

.signup{
    margin-top: 10px;
    border-radius: 50px;
    height: 40px;
    width: 250px;
    margin-bottom: 10px; 
    transition: 0.5s;
    border: solid 2px #E44105;
    background-color: white;
    font-family: 'Permanent Marker';
    font-size: 20px;
}

.signup:hover{
    transition: 0.5s;
    background-color: #E44105;
    border: solid 2px #E44105;
    color: white;
    box-shadow: rgba(228, 65, 5, 0.53) 0em 0em 5px 5px;
}

.registro h5{
    font-family: 'Segoe UI';
}

.registro h5 a{
    color: #E44105;
    text-decoration-line: underline;
}






