*{
    padding: 0;
    margin: 0;
}


/*-------------E S T I L O   S C R O L L---------------*/
#caramelos::-webkit-scrollbar {
    width: 5px;               
    height: 5px;
    
}

#caramelos::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}


#caramelos::-webkit-scrollbar-thumb:vertical{
    display:none ;
}

/*-------------F U E N T E S---------------*/
@font-face {
    font-family: 'Franklin Gothic';
    src: url('../fonts/FRAHV-.TTF');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Franklin Gothic';
    src: url('../fonts/FRABK-.TTF');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Franklin Gothic';
    src: url('../fonts/FRADMCN-.TTF');
    font-style: normal;
    font-weight: 400;
}

/*------------- I N I C I O ---------------*/
.inicio{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../background/FondoMensajes.jpg");

}

#encabezado{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
    justify-content: space-between;
    padding-top: 2%;
}

.tituloPrincipal{
    font-family: 'Franklin Gothic';
    font-size: 55px;
    color: white;
}

#search{
    text-align: center;
    width: 30%;
    border-radius: 50px;
    font-size: 18px;
    font-family: 'Segoe UI';
    height: 40px;
}

.iconosnav{
    height: 50px;
    width: 50px;
}

.bandejaEntrada{
    margin: 5% 10% 0% 10%;    
}

.conteEntrada{
    float: left;
    width: 50%;
    height: 100%;
}

#contenidoBoton{

    color: white;
    font-family: 'Franklin Gothic';
}

#contenidoBoton h3{
    font-family: 'Segoe UI';
    font-size: 22px;
    font-weight: 300;
}

.conteEntrada h4{
    font-family: 'Franklin Gothic';
    font-size: 25px;
    color: white;
}

.btnAbrir{
    height: 2.7em;
    width: 12em;
    color: white;
    margin-top: 1em;
    font-size: 1.2em;
    border-radius: 50px;
    border: solid 2px white;
    background-color: #08314D;
    transition: 0.5s;
    font-family: 'Segoe UI';
}


.btnAbrir:hover{
    transition: 0.5s;
    background-color: #E72028;
    border: solid 2px #E72028;
    box-shadow: rgba(246, 10, 10, 0.53) 0em 0em 5px 5px;
}

#caramelos{
    margin-top: 20px;
    height: 330px;
    overflow-x: auto;
}

#contenidoIzq h4{
    margin-top: 20px;
}

.filaCaramelos{
    height: 300px;
    display: flex;
    margin-top: 10px;
    
}

/*DISEÑO PARA LAS CARTAS*/

.cardbox{
    float: left;
    border-radius: 10px;
    width: 8rem;
    height: 280px;
    perspective: 800px;    
    margin-right: 10px;
    perspective: 1000px;
}


.cardbox img{
    border-radius: 10px 10px 0px 0px;
    width: 8rem;
    
}

.cardbody h2{
    font-family: 'Franklin Gothic';
    text-align: center;
    font-size: 22px;
}

.cardbody p{
    text-align: center;
    font-family: 'Segoe UI';
    font-size: 16px;
}

/* PARA EL MOVIMIENTO */

.back{
    text-align: center;
    background-color: white;
    border-radius: 10px;
    height: 280px;
    width: 8rem;
}

.cardbox:hover .card{
    transform: rotateY(180deg);
}

.card{
    transform-style: preserve-3d;
    transition: all 0.5s linear;
}

.cardbody {
    position: absolute;
    backface-visibility: hidden;
  }

.cardbody .back{
    transform: rotateY(180deg);
}

